body {margin:0px auto;font-size:12px;font-family: Verdana, "MS Gothic";}
a{color: #036;font-size:12px;font-family: Verdana, "MS Gothic"; border: none;}
input[type='submit']{font-family: Verdana, "MS Gothic";}