<%{extends file='public/layout.html'}%>
<%{block name="title" prepend}%><%{$title}%> -<%{/block}%>
<%{block name="body"}%>
<script type="application/javascript">
    $(document).ready(function(){
    $("#search").click(function(){ //
    if($('#cond').val() == null || $('#cond').val() == "") {
    var data = {};
    } else {
    var data = $('#cond').val();
    }
    $.post('<%{spUrl c=alias a=index}%>', data, function(backs){
    $('html').html(backs);
    $('#cond').val(data);
    });
    });
    });
</script>
<form action="#" method="post" target="_self" id="mx">
    <table width="980" border="0" align="center" cellpadding="5" cellspacing="0" id="mxlist">
        <tr>
            <td colspan="4" align="right" style="background:transparent;"><a href="?c=alias&a=add"><%{T w='addalias'}%></a> <%{T w='totalalias'}%><%{$count}%><%{T w='P'}%></td>
        </tr>
        <tr align="center">
            <th style="width:30%;"><%{T w='alias'}%></th>
            <th style="width:40%;"><%{T w='directurl'}%></th>
            <th style="width:15%;"><%{T w='active'}%></th>
            <th><%{T w='operate'}%></th>
        </tr>
        <%{section name=rsa loop=$rs}%>
        <tr align="center" style="height:30px;">
            <td style="width:30%;"><a href="?c=alias&a=edit&aid=<%{$rs[rsa].address}%>"><%{$rs[rsa].address}%></a></td>
            <td style="width:40%;"><%{$rs[rsa].goto}%></td>
            <td style="width:15%;"><%{if $rs[rsa].active eq 1}%><%{T w='living'}%><%{else}%><%{T w='death'}%><%{/if}%></td>
            <td style="text-align:center;"><a href="?c=alias&a=edit&aid=<%{$rs[rsa].address}%>"><img src="./public/images/edit.png"></a> <a class="delas" href="?c=alias&a=rm&aid=<%{$rs[rsa].address}%>"><img src="./public/images/del.png"  onclick="return confirm('<%{T w='delornot'}%>');">
                </a></td>
        </tr>
        <%{sectionelse}%>
        <tr>
            <td colspan="4" align="center" style="height:20px;"><%{T w='nodomains'}%></td>
        </tr>
        <%{/section}%>
        <%{if $pager}%>  
        <tr>
            <td colspan="4">
                <%{T w='sum'}%><%{T w='domain'}%><%{$pager.total_count}%><%{T w='P'}%>，<%{T w='sum'}%><%{$pager.total_page}%><%{T w='page'}%>（<%{T w='perpage'}%><%{$pager.page_size}%><%{T w='P'}%><%{T w='domain'}%>）：
                <!--在当前页不是第一页的时候，显示前页和上一页-->
                <%{if $pager.current_page != $pager.first_page}%>
                <a href="<%{spUrl c=domain a=index page=$pager.first_page}%>"><%{T w='firstpage'}%></a> | 
                <a href="<%{spUrl c=domain a=index page=$pager.prev_page}%>"><%{T w='prevpage'}%></a> | 
                <%{/if}%>
                <!--开始循环页码，同时如果循环到当前页则不显示链接-->
                <%{foreach from=$pager.all_pages item=thepage}%>
                <%{if $thepage != $pager.current_page}%>
                <a href="<%{spUrl c=domain a=index page=$thepage}%>"><%{$thepage}%></a>
                <%{else}%>
                <b><%{$thepage}%></b>
                <%{/if}%>
                <%{/foreach}%>
                <!--在当前页不是最后一页的时候，显示下一页和后页-->
                <%{if $pager.current_page != $pager.last_page}%>
                | 
                <a href="<%{spUrl c=domain a=index page=$pager.next_page}%>"><%{T w='nextpage'}%></a> | 
                <a href="<%{spUrl c=domain a=index page=$pager.last_page}%>"><%{T w='lastpage'}%></a>
                <%{/if}%>
            </td>
        </tr>
        <%{/if}%>
        <tr>
            <td colspan="4" align="right">
                <%{T w='search'}%><input name="cond" type="text" id="cond">   <input name="search" type="button" id="search" value="<%{T w='search'}%>">
            </td>
        </tr>
    </table>
</form>
		</body>
		</html>
<%{/block}%>