<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="pragma" content="no-cache">
<meta http-equiv="cache-control" content="no-cache, must-revalidate">
<meta http-equiv="expires" content="mon, 23 jan 1978 12:52:30 gmt">
<link type="text/css" rel="stylesheet" href="./public/css/<%{$smarty.session.lang}%>/global.css" />
<script src="./public/js/jquery-1.8.3.js" type="application/javascript"></script>
<title>HOME - <%{$smarty.const.SYS_APP_TYPE}%></title>
</head>
<body>
	<p align="center"><img src="./public/images/vdumes.png"></p>
